.events{
    display: flex;
    gap: none;
 background-size: cover;
 margin: 0;
}
#accra{
    width: 600px;
    height: 100vh;
}
#zanzibar{
    width: 700px;
    height: 100vh;
}
#nairobi{
    width: 600px;
    height: 100vh; 
}
.zanzibar{
    position:relative;
    text-align: center;
}
.open-light{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin-right: 700px;
}
.nairobi{
    position: relative;
    text-align: center;
}
.private-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin-right: 600px;
}
.perfect{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    margin-right: 600px;
}
.accra{
    position: relative;
    text-align: center; 
}
body{
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.nav-items{
    list-style-type: none;
    gap:25%;
    display: flex;
 color: white;
 margin-bottom: 5px;
 position: relative;
 font-size: 18px;
}
.nav-section{
    background-color: rgb(46, 44, 44);
    width: 40%;
    height: 4rem;
 border-radius: 30px;
 position: absolute;
top: 88%;
left: 25%;
}
.nav-bar{
    margin-top: 2.5%;
    margin-left: 50px;
    margin-right: 560px;
}
.reservations{
    background: grey;
    width: 85%;
    text-align: center;
    height: 2rem;
    border-radius: 20px;
    padding-top: 6px;
    margin-top: 2% ;
    position: absolute;
    margin-left: 530px;
    bottom: 6%;
}
  #clock-icon{
    width: 30px;
    margin-right: 7%;
    color: white;
  }  
  #ankole-logo{
    position: absolute;
    margin-left: -5%;
    width: 200px;
    padding-top: 30px;
    margin-right: 50%;
  }
  .ankole-icon{
    justify-content: center;

}
#ankole-icon{
    width: 180px;
    margin-left: 250px;
    position:absolute;
    margin-top: 20px;
}